/* MY THEME */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*Changes background color */

body{
  background-color: wheat;
  font-family: "Poppins";
  color: skyblue;
}

h2{
  background-color: lightgreen;
  color: red;
}

h3{
  background-color: green;
}